<% @page_title = "About" %>
<i>"Looking for a chance to prove myself as a competent web-developer."</i>

<p>If you are here then it means you have received my job application. Since, this is my portfolio I will not be formal rather simple and straight-forward.<br/><br/> I am a graduate in Media Engineering from Metropolia University of Applied Sciences and currently looking for a job in a web-development industry. I desperately want to become a web-developer and take on greater challenges. I am a decent Ruby on Rails developer and I built this portfolio using Rails 4. Apart from Rails I have done some ASP.NET and really willing to learn more about it. Moreover, I have used PHP form whole lot of projects. So, I am comfortable using it too. On the client-side, I am a skilled HTML, CSS, SASS and JavaScript coder. I know jQuery, AJAX, Bootstrap and bourbon quite well. I genuinely believe that web-programming is a right career path for me.<br/> 
<br/>
Hoping to hear from you! :D</p>
<p id="counter"><%= @impressions %></p>
