<% @page_title = "About" %>

<div id="image_container">
  <img src="assets/profile.png" />
  <h2>Who Am I</h2>  
</div>

<p id="intro">I am Purushottam Thapa (Puru), a postgrad student at the Department of Computer Science in University of Helsinki.
I am also a graduate of Metropolia UAS in Media Engineering and a failed entrepreneur. I am 
a Ruby on Rails and vi fan(atic). My other interests include AI, big data, machine learning, computational
biology and lambda calculus.
</p>
<div id="list_div">
  I endorse:
  <ul id="elist">
      <li>Ruby on Rails</li>   
      <li>React </li>
      <li>Git</li>
      <li>Adobe Illustrator</li>
      <li>MVim - my editor of choice </li>
  </ul>
</div>
<p id="counter"><%= @impressions %></p>
