<% @page_title = 'Experiences' %>
Projects >>
<div class="expCapsul">
<span class="expHeader">Korjausurakka</span><br/>
<div class="expInfo round">
	Employer: Dooxe Oy<br/>
	Duration: 4 months<br/>
	Role: Front/Back-end web-developer<br/>
	Tasks:
	<ul>
		<li>Wrote front and back-end code using HTML, CSS and PHP</li>
		<li>Zend-framework was used as a basic foundation</li>
	</ul>
</div>
</div>

<div class="expCapsul">
<span class="expHeader">Swengi</span><br/>
<div class="expInfo round">
	Employer: Metropolia UAS<br/>
	Duration: 4 months<br/>
	Role: Back-end developer, iOS developer<br/>
	Tasks:
	<ul>
		<li>Used Scrum as a software development methodology.</li>
		<li>Created back-end of an iPhone application using PHP.</li>
		<li>Managed MySQL Database.</li>
		<li>Did iOS Programming.</li>
	</ul>
</div>
</div>

<div class="expCapsul">
<span class="expHeader">Location Based Services(LBS)</span><br/>
<div class="expInfo round">
	Employer: Metropolia UAS<br/>
	Duration: 4 months<br/>
	Role: Front/Back-end web-developer, iOS developer<br/>
	Tasks:
	<ul>
		<li>Used Scrum as a software development methodology.</li>
		<li>Designed and managed server-side MYSQL database.</li>
		<li>Wrote server-side code for iPhone application.</li>
		<li>Did some iOS client-side coding</li> 
	</ul>
</div>
</div>

<div class="expCapsul">
  <span class="expHeader">Entrepreneur (2014-2017)</span>
  <div class="expInfo round">CEO at Shreeganesh Oy.</div>
</div>
