<% @page_title = 'FAQs' %>
<b>1. Your name is very long and difficult. Do you have any nickname?</b>
<p>- Unfortunately, No. But, you can call me 'Puru'. That should be simple enough.</p>
<b>2. Do you speak any Finnish?</b>
<p>- It is very unfortunate that I don't. But, I am trying to learn it. ;-)</p>
<b>3. What kind of work you are interested in?</b>
<p>- I am more interested in development of logical part of web-application. However, I am a decent client-side coder as well. Ruby on Rails is my favourite framework. But, I am comfortable with PHP and ASP.NET as well</p>
<b>4. When can you start?</b>
<p>- Right away.</p>