<ul>
	<li>Ruby on Rails</li>
	<ul>
		<li>Test Driven Development(TDD) with RSpec</li>
	</ul>
	<li>ASP.NET</li>
	<li>PHP</li>
	<li>Database Design and Management</li>
	<li>Git</li>
	<li>Scrum</li>
	<li>JavaScript</li>
	<li>HTML, CSS, SASS</li>
	<li>AJAX</li>
	<li>JQuery</li>
	<li>Drupal</li>
</ul>