<div id="name">
	<p>Purushottam Thapa Magar</p>
	<span>Siltapellonkuja 2 R 142</span><br/>
	<span>00740, Helsinki</span><br/>
	<span>Finland.</span><br/>
	<i>Email: Purushottam.ThapaMagar@gmail.com</i><br/>
	<span>Phone: +358 443622069</span>
</div>