<div id="name">
	<p>Purushottam Thapa Magar</p>
	<span>Kilonrinne 10 F 125</span><br/>
	<span>02610, Espoo</span><br/>
	<span>Finland.</span><br/>
	<i>Email: Purushottam.ThapaMagar@gmail.com</i><br/>
	<span>Phone: +358 443622069</span>
</div>