<div id="name">
	<p>Purushottam Thapa Magar</p>
	<span>Liuskepolku 1 B 9</span><br/>
	<span>00710, Helsinki</span><br/>
	<span>Finland.</span><br/>
	<i>Email: Purushottam.ThapaMagar@gmail.com</i><br/>
	<span>Phone: +358 443622069</span>
</div>