<footer>
	<div id="copyright">&copy; Purushottam Thapa Magar.</div>
	<div id="wrapper">
		<div id="left">
			<span>Address</span><br/>
			<p>Liuskepolku 1 B 9</p>
			00710, Helsinki<br/>
			Finland.
		</div>
		<hr width="1.5" size="100">
		<div id="right">
			<span>Contact</span><br/>
			<p>Email: Purushottam.ThapaMagar@gmail.com</p>
			Phone: +358 443622069
		</div>
	</div>
</footer>